<mat-grid-list cols="1" rowHeight="100px">
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="5">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Formularz rofilu Użytkowników</mat-card-title>
      </mat-card-header>
      <mat-card-content align="center">
        <form>
          <p>Czas sesji: <input value="{{userProfile.sessionTimeout}}" type="text" #sessionTime></p>
        </form>
        <div align="right">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="editUserProfile(sessionTime.value)">
            <mat-icon>add_box</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-grid-tile>

</mat-grid-list>
