<mat-grid-list cols="3" rowHeight="100px">
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="3">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Akywni użytkownicy</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div align="center">
          <p style="font-size:200%;">0
            <mat-icon>supervisor_account</mat-icon>
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="3">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Dodane Routery</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div align="center">
          <p style="font-size:200%;">{{routersCount}}
            <mat-icon>router</mat-icon>
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="3">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Wykryte Problemy</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div align="center">
          <p style="font-size:200%;">{{unavaiableRouters.length}}
            <mat-icon>report_problem</mat-icon>
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="4">
    <mat-card class="example-card" fxLayoutAlign="start start">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Zarejestrowani użytkownicy</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div align="center">
          <p style="font-size:200%;">
            <a mat-list-item [routerLink]="'/user'"> {{registerUser}}
            <mat-icon>router</mat-icon>
            </a>
          </p>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-grid-tile>

</mat-grid-list>
