<mat-grid-list cols="1" rowHeight="100px">
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="5">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Dodaj nową usługę</mat-card-title>
      </mat-card-header>
      <mat-card-content align="center">
        <form [formGroup]="form">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Nazwa</mat-label>
              <input matInput placeholder="Podaj nazwę" formControlName="test" #nazwa>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field appearance="outline">
              <mat-label>Adres IP</mat-label>
              <input matInput placeholder="127.0.0.1" formControlName="test" #ipadd>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field appearance="outline">
              <mat-label>Pula IP</mat-label>
              <input matInput placeholder="Podaj nazwę" formControlName="test" #ippool>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </p>

        </form>
        <form>
          <p>
            <mat-form-field>
              <mat-label>Profil HotSpot</mat-label>
              <select matNativeControl [(ngModel)]="selectedProfile" name="car" #profil>
                <option *ngFor="let profile of profiles" [ngValue]="profile">
                  {{profile.name}}
                </option>
              </select>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <mat-label>Router</mat-label>
              <select matNativeControl [(ngModel)]="selectedRouter" name="car" (change)="getPorts()">
                <option *ngFor="let router of routers" [ngValue]="router">
                  {{router.name}}
                </option>
              </select>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <mat-label>Port</mat-label>
              <select matNativeControl [(ngModel)]="selectedPort" name="car">
                <option *ngFor="let port of ports" [ngValue]="port" #portn>
                  {{port.name}}
                </option>
              </select>
            </mat-form-field>
          </p>

        </form>
        <div align="right">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
                  (click)="addHSServoce(nazwa, ipadd, ippool)">
            <mat-icon>add_box</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-grid-tile>

</mat-grid-list>
